<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Xây dựng Tình Voòng
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel='stylesheet' href='/stylesheets/client.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&subset=latin-ext,cyrillic-ext,vietnamese,latin,cyrillic" rel="stylesheet"
        type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,regular,italic,700,700italic&subset=latin-ext,greek-ext,cyrillic-ext,greek,vietnamese,latin,cyrillic" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">



</head>

<body>

    <div class="container-fluid">
        <!-- banner  -->
        <div class="row">
            <div class="col-xl-12" id="banner">
                <div class="banner-contact">
                    <p class="banner-telephone animate__animated animate__fadeInLeft"><i class="fas fa-phone-alt"></i> 0915.627.169</p>
                    <p class="banner-telephone animate__animated animate__fadeInRight"><i class="far fa-envelope"></i> phanthihai20112002.@gmail.com</p>
                </div>
                <div class="banner-detail">
                    <div class="banner-detail-left">
                        <img src="/logo.jpg" alt="logo" class="banner-logo animate__animated animate__zoomIn">
                        <div class="banner-left-text">
                            <h3 class="company-name">Xây dựng công trình, tư vấn thiết kế nhà cửa Tình Vòong</h3>
                            <div class="sub-content">
                                <h4 class="sub-content-diachi animate__animated animate__zoomIn">Địa chỉ: Ngã 3 Lò Vôi, Đông Thịnh,
                                    <p><br>Đông Xá, Vân Đồn, Quảng Ninh</p>
                                </h4>
                                <h4 class="sub-content-diachi animate__animated animate__zoomIn">Liên lạc mọi lúc, mọi nơi</h4>
                                <h4 class="sub-content-diachi animate__animated animate__zoomIn">Tư vấn thiết kế, xây dựng nhà cửa
                                    <p><br>Gọi ngay: 0915.627.169</p>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="banner-detail-right">
                        <a href="https://www.facebook.com/profile.php?id=100021920978101"><i class="fab fa-facebook-square fb-icon"></i> Facebook</a>
                    </div>
                </div>
            </div>

            <!-- mobile   -->
            <div class="col-xl-0 col-sm-12" id="banner-mobile">
                <div class="fb-icon-mobile">
                    <a href="https://www.facebook.com/profile.php?id=100021920978101"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Facebook-icon-1.png/240px-Facebook-icon-1.png" data-aos-offset="-300" data-aos-once="true" data-aos-delay="900" data-aos="fade-up" data-aos-anchor-placement="center-center"
                            alt="" id="img-fb"></a>
                </div>
                <img src="/logo.jpg" alt="logo-mobile" class="banner-logo-mobile animate__animated animate__zoomIn">
                <div style="text-align: center;padding: 6px 0; flex: 1">
                    <h3 class="company-name-mobile">Xây dựng Tình Vòong</h3>
                    <h4 class="sub-content-diachi animate__animated animate__zoomIn" style="margin: 0 auto">Tư vấn, xây dựng nhà cửa
                        <p style="margin-top: 8px;">Gọi ngay: 0915.627.169</p>
                    </h4>
                </div>
            </div>
            <div class="navbar-mobile">
                <ul class="navbar-mobile-list">
                    <li class="navbar-mobile-item">
                        <a href="/">
                            Trang chủ
                        </a>
                    </li>
                    <li class="navbar-mobile-item">
                        <a href="/trangtin/617a566f4d8dcef2f898156a">
                            Biệt thự
                        </a>
                    </li>
                    <li class="navbar-mobile-item">
                        <a href="/trangtin/617d62f5e1382f350c875735">
                            Nhà cao tầng
                        </a>
                    </li>
                    <li class="navbar-mobile-item">
                        <a href="/trangtin/61931260ee3221002334d24a">
                            Nhà mái thái
                        </a>
                    </li>
                    <li class="navbar-mobile-item">
                        <a href="/trangtin/617d62f5e1382f350c875735">
                            Cống thoát nước
                        </a>
                    </li>
                </ul>
            </div>
            <!-- end mobile    -->
        </div>
        <!-- end banner   -->

        <div class="row">
            <!-- navbar desktop  -->
            <ul class="navbar-desktop col-xl-12">
                <li class="navbar-mobile-item">
                    <a href="/">
                        Trang chủ
                    </a>
                </li>
                <li class="navbar-mobile-item">
                    <a href="/trangtin/617a566f4d8dcef2f898156a">
                        Biệt thự
                    </a>
                </li>
                <li class="navbar-mobile-item">
                    <a href="/trangtin/617d62f5e1382f350c875735">
                        Nhà cao tầng
                    </a>
                </li>
                <li class="navbar-mobile-item">
                    <a href="/trangtin/61931260ee3221002334d24a">
                        Nhà mái thái
                    </a>
                </li>
                <li class="navbar-mobile-item">
                    <a href="/trangtin/617d62f5e1382f350c875735">
                        Cống thoát nước
                    </a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-xl-10 main">
                <h3 class="main-title" id="<%=item._id%>">
                    <%=item.danhmuc%>
                </h3>
                <div class="row">
                    <div class="col-xl-8 col-md-8">
                        <ul class="news-list" id="news-list" data-aos-offset="-300" data-aos-once="true" data-aos-delay="300" data-aos="fade-up" data-aos-anchor-placement="center-center">

                        </ul>
                        <!-- Phân trang  -->
                        <nav aria-label="Page navigation example" id="pagination1"></nav>
                        <!-- End phân trang  -->
                    </div>
                    <div class="col news-hot">
                        <img src="https://channel.mediacdn.vn/2020/10/8/photo-1-1602141585008151069510.jpg" alt="" id="news-hot-img">
                        <h4 class="news-hot-title"><i class="fas fa-align-justify" style="margin-right: 4px"></i> Công trình nổi bật</h4>
                        <ul class="news-hot-list">
                            <%if(hotNews && hotNews.length >0){
                                hotNews.forEach(item=>{ %>
                                <a href="#">
                                    <li class="news-hot-item" data-aos-offset="-300" data-aos-once="false" data-aos-delay="300" data-aos="fade-up" data-aos-anchor-placement="center-center">
                                        <img class="news-hot-item-img" src="<%=item.minhhoa%>">
                                        <p class="news-hot-item-text">
                                            <%=item.trichyeu%>
                                        </p>
                                    </li>
                                </a>
                                <%   })
                            } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row footer">
            <div class="col footer-right">
                <a href="https://www.google.com/maps/@21.0608228,107.4119766,18z">
                    <img src="/map.png" alt="" id="img-map"></a>
            </div>
            <div class="col-xl-9 col-md-8 footer-left">
                <h3 class="footer-heading">Xây dựng công trình Tình Voòng</h3>
                <h4 class="footer-sub-heading">Địa chỉ: Ngã 3 Lò Vôi, Đông Xá, Vân Đồn</h4>
                <h4 class="footer-sub-heading">© 2021 - All Rights Reserved</h4>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
        let page = 1;
        let id = $('.main-title').attr('id')
        const getTypeCar = (page) => {
            page = parseInt(page);
            $.ajax({
                url: `/trangtin/${id}/getNews/${page}`,
                success: function(data) {
                    $('#news-list').html('');
                    data.data.forEach((item, index) => {
                        $('#news-list').append(`
                        <a href="/trangsanpham/${item._id}">
                            <li class="news-item">
                                <img src="${item.minhhoa}" alt="" class="news-item-img">
                                <div class="news-item-content">
                                    <h4 class="news-item-title">${item.title}</h4>
                                    <h5 class="news-item-date"><i class="far fa-clock"></i> ${item.created_at}</h5>
                                    <p class="news-item-trichyeu">${item.trichyeu}</p>
                                </div>
                            </li>
                        </a>
                      `)
                    });
                    if (page > data.totalPage) {
                        getTypeCar(data.totalPage)
                    }
                    // Check điều kiện trang đầu tiên 
                    if (data.totalPage == 0) {
                        $('#pagination1').html('');
                    } else if (page == 1 && data.totalPage == 1) {
                        $('#pagination1').html('');
                        $('#pagination1').append(`
                          <ul class="pagination">
                              <li class="page-item  page-current"><a class="page-link" href="#">1</a></li>
                          </ul>
                      `);
                    } else if (page == 1 && data.totalPage == 2) {
                        $('#pagination1').html('');
                        $('#pagination1').append(`
                          <ul class="pagination">
                              <li class="page-item  page-current"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item-next">
                                  <a class="page-link" href="#" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                  </a>
                              </li>
                          </ul>
                      `);
                    } else if (page == 1 && data.totalPage > 2) {
                        $('#pagination1').html('');
                        $('#pagination1').append(`
                          <ul class="pagination">
                              <li class="page-item  page-current"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item-next">
                                  <a class="page-link" href="#" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                  </a>
                              </li>
                          </ul>
                      `);
                    } else if (page == data.totalPage && page > 2) {
                        $('#pagination1').html('');
                        $('#pagination1').append(`
                      <ul class="pagination">
                          <li class="page-item-prev">
                              <a class="page-link" href="#" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                              </a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">${page - 2}</a></li>
                          <li class="page-item"><a class="page-link" href="#">${page-1}</a></li>
                          <li class="page-item page-current"><a class="page-link" href="#">${page}</a></li>
                      </ul>
                      `);
                    } else if (page == data.totalPage && page <= 2) {
                        $('#pagination1').html('');
                        $('#pagination1').append(`
                      <ul class="pagination">
                          <li class="page-item-prev">
                              <a class="page-link" href="#" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                              </a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">${page-1}</a></li>
                          <li class="page-item page-current"><a class="page-link" href="#">${page}</a></li>
                      </ul>
                      `);
                    } else {
                        $('#pagination1').html('');
                        $('#pagination1').append(`
                      <ul class="pagination">
                      <li class="page-item-prev">
                          <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                          </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">${page - 1}</a></li>
                      <li class="page-item page-current"><a class="page-link" href="#">${page}</a></li>
                      <li class="page-item"><a class="page-link" href="#">${page + 1}</a></li>
                      <li class="page-item-next">
                          <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                          </a>
                      </li>
                  </ul>
                      `);
                    }
                }
            })
        };
        getTypeCar(1)

        $(document).on('click', '.page-item:not(.page-current)', function(event) {
            event.preventDefault();
            page = $(this).find('.page-link').html();
            getTypeCar(page);
            $('.page-current').removeClass('page-current');
            $(this).addClass('page-current');
        });

        $(document).on('click', '.page-item.page-current', function(event) {
            event.preventDefault();
        });

        $(document).on('click', '.page-item-next', function(event) {
            event.preventDefault();
            page = parseInt(page) + 1;
            getTypeCar(page)
        });

        $(document).on('click', '.page-item-prev', function(event) {
            event.preventDefault();
            page = parseInt(page) - 1;
            getTypeCar(page)
        });
    </script>
</body>


</html>